html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: black;
  overflow-x: hidden;
}

p{
  font-weight: 400;
}

.thank_you{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    width: 100%;
    margin-top: 250px;
    margin-bottom:0px;
    position: relative;
    background: black;
    color: white;
    text-align: center;
    padding-bottom: -100px;
}

.break{
  flex-basis: 100%;
  height: 0;
}

.footer-break{
  flex-basis: 100%;
  height: 0;
  margin-top: -75px;
}

a{
  text-decoration: none;
  color: white;
}


a:hover{
  color: #e8e8e8;
  text-decoration: none;
}

a:focus{
    text-decoration: none;
    color: #212529;
}

a:active{
  text-decoration: none;
  color: #212529;
}

a:checked{
  color: #212529;
  text-decoration: none;
}

.nav-desktop{
  font-size: 15px;
  height: 70px;
  width:100%;
  background-color: black;
  color: white;
  z-index: 3;
}

.nav-desktop .slogan{
    position: relative;
    bottom: 18px;
    font-size: 22px;
}
.nav-desktop .slogan .button:hover{
  text-decoration: none;
  opacity: 0;
}

.hometitle-desktop{
  height: 50px;
  width: 50px;
  font-weight:bold;
  line-height: 1.8em;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-desktop .button{
  vertical-align: 45%;
  background: linear-gradient(270deg, #dcbd9a, #75411f);
  background-size: 150% 150%;
  color: white;
  opacity: .99;
  font-size: 14px;
  padding: 12px 20px;
  border:none;
  cursor: pointer;
  border-radius: 999px;
  float:right;
  display:inline;
}

.nav-desktop .button:hover{
  text-decoration: none;
  opacity: 0.5;
}

.nav-desktop .button:active{
  outline: none;
  background-color: white;
  color: black;
}

.nav-desktop .button:focus{
  outline: none;
}

.nav-desktop a:hover{
  opacity: .8;
}

.nav-desktop ul{
  padding:0;
  list-style: none;
  float:right;
  padding-right: 20px;
}

.nav-desktop li{
  padding: 8px;
  padding-top: 12px;
  float:right;
  display:inline;
}

.nav-desktop li .lesspadding{
  padding-right: 0px;
}

.nav{
  display: none;
  font-size: 15px;
  height: 70px;
  width:100%;
  Margin-top: Auto;
  background-color: black;
  color: white;
  z-index: 3;
}

.nav .hometitle{
  height: 50px;
  width: 50px;
  font-weight:bold;
  line-height: 1.8em;
  font-size: 25px;
  margin-top: 9px;
  margin-left: 18px;
}

.nav .button{
  vertical-align: 50%;
  background: linear-gradient(270deg, #dcbd9a, #75411f);
  background-size: 150% 150%;
  color: white;
  opacity: .8;
  font-size: 14px;
  padding: 10px 18px;
  margin-right: 10px;
  border:none;
  cursor: pointer;
  border-radius: 999px;
}

.nav .button:hover{
  text-decoration: none;
  opacity: 0.5;
}

.nav .button:active{
  outline: none;
  background-color: white;
  color: black;
}

.nav .button:focus{
  outline: none;
}

.nav .slogan{
    position: relative;
    bottom: 22px;
    font-size: 12px;
}

.dropbtn {
  vertical-align: 1%;
  background-color: black;
  padding: 10px;
  padding-right: 0px;
  padding-left: 5px;
  border-radius: 4px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:focus {
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-top: 18px;
  margin-right: 25px;
  display: inline-block;
  float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  width: 100%;
  height: 550px;
  text-align: right;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 20px;
  margin-right: 25px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content hr{
  margin-right: 40px;
  height: 1px;
  width: 25%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {opacity: .5; border-radius: 10px;}


/* Show the dropdown menu on hover */
.dropbtn:hover + .dropdown-content {
  display: block;
}

.dropdown-content:hover{
  display: block;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 750px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  background: black;
  color: white;
  text-align: left;
}

.showcase h1 {
  font-size: 50px;
  max-width: 900px;
  line-height: 1.25em;
  padding-top: 170px;
  font-weight: 700;
  margin: 0px 5%;
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.showcase p{
  font-size: 25px;
  max-width: 700px;
  margin: 0px 5%;
  padding-top: 40px;
  animation: fadein 4s;
}

.showcase h3 {
  margin: 0px 5%;
  margin-top: -134px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;
  transform: translateY(50%);
  animation: vertical 3s linear infinite alternate;
}

@keyframes vertical {
    0%   { transform:translate(0,-14px); opacity: 1;  }
    50%  { opacity: .5;  }
    100% { transform:translate(0,14px); opacity: 0; }
}

.showcase img {
  margin-top: -14px;
  margin-left: 65%;
  margin-right: 5%;
}

.preview {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #dcbd9a;
  color: black;
}

.preview h3 {
  margin: 0 12.5%;
}

.preview p {
  font-size: 18px;
  margin: 10px 12.5%;
}

.HIW {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.HIW h1 {
  font-size: 30px;
}

.HIW h2{
  font-size: 25px;
  padding-top: 40px;
}

.HIW .servicebreak{
  height: 3px;
  width: 50px;
  background-color: #dcbd9a;
}

.HIW .round {
    position: relative;
    border: 2px solid #dcbd9a;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.HIW .round h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.0em;
  color: #dcbd9a;
}

.HIW .round-1 {
    background: black;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    border: 3px solid #dcbd9a;
    max-width: 450px;
    width: 75%;
    height: 100%;
    padding: 10px;
    border-radius: 14px;
    margin-top: -1px;
}

.HIW .round-1 h3{
  color: #dcbd9a;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.HIW .round-1 p{
  color: white;
  margin: 5% 8%;
}

.HIW .line {
  border-left: 5px solid #dcbd9a;
  height: 100px;
  margin-right: -2px;
  position: relative;
  top: 0;
}

.pricing {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  overflow: hidden;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:auto;
  overflow: hidden;
  padding-bottom: 0px;
  padding-top: 50px;
  margin-bottom: -35px;
}

.pricing h1 {
  font-size: 30px;
  padding-bottom: 25px;
}

.pricing h2 {
  margin-top: 25px;
  margin-bottom: 14px;
  color: black;
}

.pricing h3 {
  color: black;
}

.pricing img {
  margin: 14px 25px;
}

.pricing .corporate {
  height: 225px;
}

/*

.pricing-1 .card .servicebreak {
  height: 3px;
  width: 50px;
  background-color: #dcbd9a;
  margin-left: 105px;
  margin-bottom: 14px;
}

.pricing-1 {
	display:flex;
  flex-wrap: wrap;
  justify-content: center;
	grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
	grid-gap:20px;
}

.pricing-1 .card {
	position: relative;
	width: 300px;
  height: 340px;
	margin: 25px 10px;
  margin-bottom: 0px;
  border-radius: 75px;
	padding: 20px;
	box-sizing: border-box;
	text-align:center;
	overflow: hidden;
}

.pricing-1 .card .layer{
	position: absolute;
	top: calc(100% - 3px);
	width:100%;
	height:100%;
	left:0;
	background:linear-gradient(#dcbd9a, black);
	z-index:1;
	transition:0.5s;
}

.pricing-1 .card:hover .layer{
	top:0;
}

.pricing-1 .card .content{
	position:relative;
	z-index:2;
}

.pricing-1 .card .content p{
	font-size:18px;
	line-height:24px;
	color: black;
}

.pricing-1 .card:hover .content p{
  color: white;
  transition: .5s;
}

.pricing-1 .card:hover .content h3{
  color: white;
  transition: .5s;
}

.pricing-1 .card:hover .content h2{
  color: white;
  transition: .5s;
}

*/

.partners {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  overflow: hidden;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:auto;
  overflow: hidden;
  padding-bottom: 0px;
  padding-top: 50px;
  margin-bottom: -35px;
}

.partners h1 {
  font-size: 30px;
}

.partners .button{
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}


.partners .button:hover{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5x 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}

.partners img {
  margin: 14px 25px;
}

.about {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: left;
  width:100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  color: white;
  background: black;
  padding: 30px;
  padding-top: 150px;
}

.about h2{
  font-weight: bold;
}


.about img {
  border-radius: 10px;
}

.abouttext {
  margin-top: -50px;
  font-size: 15px;
  float: left;
  width: 50%;
}

.aboutimg {
  margin-top: -50px;
  display: inline-block;
  padding: 59px 2.5%;
}

.about .box-1 {
  margin: 0px 35px;
  height: 200px;
  width: 200px;
  text-align: center;
  margin-bottom: 100px;
}

.about .box-1 p{
  margin-bottom: 14px;
}

.about .box-1 h3{
  font-size: 18px;
  margin-bottom: 10px;
}

.about .box-1 img{
  border-radius: 50%;
}

footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%
}

.footer{
  background-color: #dcbd9a;
  color: black;
  text-align:center;
  padding-top: 14px;
  box-sizing: inherit;
}

.footer > svg {
  display: block;
  background: black;
  margin-top: -125px;
}

.footer .button{
  background: linear-gradient(270deg, #dcbd9a, #75411f);
  background-size: 150% 150%;
  color: white;
  opacity: .99;
  font-size: 14px;
  padding: 18px 50px;
  border:none;
  cursor: pointer;
  border-radius: 999px;
  display:inline;
}

.footer .button:hover{
  text-decoration: none;
  opacity: 0.5;
}

.footer .button:active{
  outline: none;
  background-color: white;
  color: black;
}

.footer .button:focus{
  outline: none;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 14px;
  width: 32px;
  height: 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #c90270;
  color: white;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
}

/*
.foots{
  padding-top: 20px;
  background: black;
  color: white;
}

*/




@media only screen and (max-width: 700px) {

  body p{
    font-size: 17px;
  }

  body h3{
    font-size: 20px;
  }

  body h1{
    font-size: 24px;
    margin: 0 7.5%;
  }

  footer p{
    font-size: 12px;
  }

  .footer-break{
    flex-basis: 100%;
    height: 0;
    margin-top: 0px;
    color: #dcbd9a
  }

  .nav-desktop{
    display: none;
  }

  .nav{
    display: block;
  }

  .dropdown {
    margin-top: 11px;
    margin-right: 19px;
  }

  .symbol{
    display: none;
  }

  .showcase h1{
    padding-top: 130px;
    font-size: 38px;
  }

  .showcase p{
    padding-left: 0px !important;
    font-size: 20px;
  }

  .showcase h3 {
    margin: 0px 5%;
    margin-top: -175px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
    transform: translateY(50%);
    animation: vertical 3s linear infinite alternate;
  }

  .showcase img {
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 5%;
  }

  .HIW .servicebreak{
    margin-top: 18px;
  }

  .pricing-1 .card #servicenoshow {
    display: none;
  }

  .pricing .corporate {
    height: 125px;
  }

  .about {
    padding-top: 100px;
  }

  .abouttext {
    float: left;
    width: 90%;
  }

  .footer > svg {
    display: block;
    background: black;
    margin-top: -30px;
    margin-bottom: 0px;
  }
